:root {
  --primary-color: #171539;
  --secondary-color: #c9974e;
  --s-accent-color: #6a7b73;
  --p-accent-color: #bd7877;
  --heading-font: "poppins", sans-serif;
  --cursive-font: "Corinthia", cursive;
  --body-font: "Lora", serif;
  --box-shadow: inset 0px 0px 9px 2px rgba(23, 21, 57, 0.2);
}
body {
  color: #171539;
  font-family: var(--heading-font);
}

h5 {
  margin-top: 50px;
}
a {
  color: var(--primary-color);
}

a:visited {
  color: var(--secondary-color);
}

a:hover {
  color: #6a7b73;
}

.btn {
  color: white;
  background-color: var(--primary-color);
  border: none;
  box-shadow: var(--box-shadow);
}

.btn:hover {
  color: white;
  background-color: #6a7b73;
}

p {
  text-align: center;
  font-family: "poppins";
}

.week1 {
  display: flex;
}

.week1-2 {
  display: flex;
  justify-content: flex-end;
}
.week1-3 {
  display: flex;
  justify-content: space-evenly;
}
.week1-4 {
  display: flex;
  justify-content: space-evenly;
}
.blue-1-4,
.red-1-4,
.green-1-4 {
  border: 1px solid #171539;
  padding: 10px;
  flex: 1;
}

.blue,
.blue-1-4 {
  color: blue;
}

.red,
.red-1-4 {
  color: red;
}

.green,
.green-1-4 {
  color: green;
}
